{% extends "users/base.html" %}
{% block content %}
   <div class="sidenav">
         <div class="login-main-text">
             <i class="fa fa-map-marker"></i> --- <i class="fa fa-road"></i>
            <h2>Uni-Abuja TMS<br> Reset Paasord Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <h5 class="">Reset Password</h5>
                <div class="card-header">
                </div>
                <div class="card-body">
                     <div class="alert alert-info">
                        <h2>Your Password Has Been Set</h2>

                     </div>
                    <a href="{% url 'login'%}">Sign In Here</a>
                </div>
            </div>
         </div>
      </div>
{% endblock content %}

