{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="sidenav">
         <div class="login-main-text">
             <i class="fa fa-map-marker"></i> --- <i class="fa fa-road"></i>
            <h2>Uni-Abuja TMS<br> Reset Paasord Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>

      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <h5 class="">Reset Password</h5>
                    <form  method="POST">
                         {% csrf_token %}
                         <fieldset class="form-group">
                             {{ form|crispy }}
                         </fieldset>
                         <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Reset Password </button>
                         </div>
                    </form>
            </div>
         </div>
      </div>
{% endblock content %}

